parameters:
    excludes_analyse:
        # Makes PHPStan crash
        - 'src/DependencyInjection/Configuration.php'

        # Test dependencies
        - 'tests/Application/app/**.php'
        - 'tests/Application/src/**.php'

    ignoreErrors:
        - '/Parameter #1 $configuration of method Symfony\Component\DependencyInjection\Extension\Extension::processConfiguration() expects Symfony\Component\Config\Definition\ConfigurationInterface, Symfony\Component\Config\Definition\ConfigurationInterface|null given./'
        - '/Property BabDev\SupplierPlugin\Model\SupplierPricing::$price (int) does not accept int|null./'
        - '/Parameter #1 $value of static method Sylius\Component\Core\Formatter\StringInflector::nameToCode() expects string, array|string given./'
        - '/Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface::scalarNode()/'
